<div class="row">
  <div class="col-md-6">
    <div>
      <div class="form-group">
        <label for="identification_number">Número de identificación</label>
        <input type="text" [(ngModel)]="book.identification_number" class="form-control" id="identification_number" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="first_name">Primer nombre</label>
        <input type="text" [(ngModel)]="book.first_name" class="form-control" id="first_name" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="second_name">Segundo Nombre</label>
        <input type="text" [(ngModel)]="book.second_name" class="form-control" id="second_name" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="first_lastname">Primer apellido</label>
        <input type="text" [(ngModel)]="book.first_lastname" class="form-control" id="first_lastname" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="second_lastname">Segundo Apellido</label>
        <input type="text" [(ngModel)]="book.second_lastname" class="form-control" id="second_lastname" aria-describedby="emailHelp">
      </div>
      
      <button (click)="saveBook()" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>
