<div class="row">
    <div class="col-md-10">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"> N° de identificación</th>
              <th scope="col">Primer Nombre</th>
              <th scope="col">Segundo Nombre</th>
              <th scope="col">Primer Apellido</th>
              <th scope="col">Segundo Apellido</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books">
              <th scope="row">{{book.identification_number}}</th>
              <td>{{book.first_name}}</td>
              <td>{{book.second_name}}</td>
              <td>{{book.first_lastname}}</td>
              <td>{{book.second_lastname}}</td>
              <td>
                  <a class="btn btn-primary btn-sm" routerLink="/form/{{book.id}}" >ver/editar</a>
                  <a class="btn btn-danger btn-sm" (click)="delete(book.id)" >Eliminar</a>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
